.legal-main {
  padding: 2rem;
  background-color: #fefefe;
}

.legal-title {
  margin-bottom: 1rem;
  text-align: center;
}

.legal-text {
  margin-bottom: 1.5rem;
  line-height: 2em;
}

.legal-list {
  list-style-type: disc;
  padding-left: 2rem;
  font-size: large;
}

.legal-list li {
  margin-bottom: 0.75rem;
}
