/* Main */
.quienes-main {
  margin: 40px auto;
  max-width: 1000px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: var(--shadow-principal);
}

.quienes-title {
  text-align: center;
  margin-bottom: 15px;
}

.quienes-description {
  text-align: center;
  margin-bottom: 30px;
  font-size: 1.2em;
}

.quienes-subtitle {
  text-align: center;
  margin-bottom: 20px;
}

.equipo-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.equipo-header {
  background-color: var(--cor-principal);
  color: white;
  padding: 10px;
  font-weight: bold;
  font-size: 1.1em;
}

.equipo-row:nth-child(even) {
  background-color: #f0f8ff;
}

.equipo-celda {
  padding: 15px;
}

.equipo-img {
  border-radius: 8px;
  box-shadow: var(--shadow-principal);
  transition: transform 0.3s ease;
}

.equipo-img:hover {
  transform: scale(1.1);
}

.equipo-nombre {
  padding: 10px;
}

@media screen and (max-width: 580px) {
  table {
    border: none;
  }
  th {
    display: none;
  }
  td,
  tbody,
  tr {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: none;
  }

  tr {
    margin-bottom: 1rem; /* Espaço entre "linhas" */
  }
}
