/* Main */
.quienes-main {
  margin: 40px auto;
  max-width: 1000px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
  box-shadow: var(--shadow-principal);
}

.quienes-title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 15px;
  color: var(--cor-texto);
}

.quienes-description {
  text-align: center;
  margin-bottom: 30px;
  font-size: 1.2em;
}

.quienes-subtitle {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
  color: var(--cor-texto);
}

/* Tabela do time */
.equipo-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.equipo-header {
  background-color: var(--cor-principal);
  color: white;
  padding: 10px;
  font-weight: bold;
  font-size: 1.1em;
}

.equipo-row:nth-child(even) {
  background-color: #f0f8ff;
}

.equipo-celda {
  padding: 15px;
}

.equipo-img {
  border-radius: 8px;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); */
  box-shadow: var(--shadow-principal);
  transition: transform 0.3s ease;
}

.equipo-img:hover {
  transform: scale(1.1);
}

.equipo-nombre {
  padding: 10px;
}
